
@import "helpers";

.ui-helper-clearfix {
  @include clearfix;
}

.mozilla .ui-tabs {
  .ui-tabs-nav li a { margin: 0 2px -6px; }
  .ui-tabs-panel { margin-top: -7px; }
}

.ui-tabs {
  position: relative;
  .ui-tabs-nav {
    padding: 3px 5px 0 5px;
    margin-top: 5px;
    margin-bottom: 1px;
    li {
      display: inline-block;
      overflow: hidden;
      padding: 4px 2px 0;
      /*height: 28px;*/
      a {
        color: #555;
        display: inline-block;
        position: relative;
        z-index: 10;
        overflow: hidden;
        text-decoration: none;
        font-weight: bold;
        margin: 0 2px;
        padding: 4px 9px;
        background-color: transparent;
        @include border-top-radius;
        @include box-shadow(#ccc, 0, 0, 2px, 2px);
      }
      &.ui-state-default a {
        background-color: rgb(250, 250, 250);
      }
      &.ui-state-hover a {
        background-color: rgb(230, 230, 230);
        color: #000;
      }
      &.ui-tabs-selected, &.ui-tabs-hover {
        a {
          background-color: rgb(230, 230, 230);
          color: #000;
        }
      }
      &.ui-tabs-selected a {
        @include box-shadow(#86abd9, 0, 0, 2px, 2px);
        z-index: 50;
      }
    }
  }
  .ui-tabs-panel {
    @include box-shadow(#888, 0, 0, 8px, 2px);
    @include wrapper-style;
    background-color: rgb(230, 230, 230);
    margin-top: 0;
    position: relative;
    z-index: 30;
    li.void-list {
      text-align: center;
    }
  }
  .ui-tabs-hide {
    display: none !important;
  }
  #ajax-spinner {
    height: 32px;
    width: 32px;
    background-image: url("../img/ajax-spinner.gif");
    z-index: 100;
  }
}

.toolbar {
  margin-bottom: 8px;
  .button {
    @include float-right;
    margin-right: 0;
  }
}
