{% from "macros.html" import form_button, form_button_group %}

<div class="toolbar clearfix">
  {{ form_button('Nuevo Contacto', id='new-contact', style='small') }}
  {{ form_button_group([
      {'label': 'A', 'id': 'a'},
      {'label': 'B', 'id': 'b'},
      {'label': 'C', 'id': 'c'},
  ], style='small') }}

  <ul class="button-group">
    <li class="first">
      <button id="t1" class="button small" type="submit">
        <span class="button-content">
          <span class="button-text">T1</span>
        </span>
      </button>
    </li>
    <li>
      <button id="t2" class="button small" type="submit">
        <span class="button-content">
          <span class="button-text">T2</span>
          <span class="button-secondary-icon icon icon-edit"></span>
        </span>
      </button>
      <ul class="dropdown">
        <li><a href="#">sub t2 1</a></li>
        <li><a href="#">sub t2 2</a></li>
        <li><a href="#">sub t2 3</a></li>
      </ul>
    </li>
    <li class="last">
      <button id="t3" class="button small" type="submit">
        <span class="button-content">
          <span class="button-text">T3</span>
        </span>
      </button>
    </li>
  </ul>

</div>
<ul class="contacts">
  {% for contact in contacts %}
  <li>
  <h4>{{ contact.contact.fullname }}</h4>
  {{ contact.role }}
  </li>
  {% else %}
  <li class="void-list">No hay contactos asociados.</li>
  {% endfor %}
</ul>
<script type="text/javascript" charset="utf-8">
  $('button#t2').click(function(e) {
      var $this = $(this).css({position: 'relative'});
      $this.parent().find('ul.dropdown').toggle();
  });

  var dialog = null;
  $('#new-contact').click(function() {
    if (dialog) dialog.dialog('open');
    else {
      dialog = $('<div id="new-contact-dialog"></div>')
      .hide()
      .load('{{ url_for('supplier.contact_new', supplier_id=supplier.id) }}', function() {
        $(this).dialog('option', 'title', $(this).find('h2').remove().text());
      })
      .appendTo('body')
      .dialog({
        modal: true,
        width: 660,
        hide: 'fade',
        show: 'fade',
        title: '&lt;Sin título&gt;',
      });
    }
  });
</script>
{# vim:ft=xhtml.jinja:sw=2
#}
