{% extends "layout-drawer.html" %}

{% block page_content %}
  <div class="row section-header">
    <div class="col-md-12">
      <h3>{{ supplier.rz }}{% if supplier.name %} <small>{{ supplier.name }}</small>{% endif %}<a class="btn btn-default btn-xs" href="{{ url_for('supplier.edit', supplier_id=supplier.id) }}">Editar</a></h3>
    </div>
  </div>
  <div>
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active">
        <a href="#documents" role="tab" data-toggle="pill">Facturas</a>
      </li>
      <li role="presentation">
        <a href="#orders" role="tab" data-toggle="pill">Pedidos</a>
      </li>
      <li role="presentation">
        <a href="#detail" role="tab" data-toggle="pill">Datos</a>
      </li>
      <li role="presentation">
        <a href="#contacts" role="tab" data-toggle="pill">Contactos</a>
      </li>
    </ul>
    <!-- panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="documents">
        <table id="supplier-invoices" class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-md-1 issue-date">Emisión</th>
              <th class="col-md-4 number">Documento</th>
              <th class="col-md-2 state">Estado</th>
              <th class="col-md-1 expire-date">Vencimiento</th>
              <th class="col-md-2 balance">Adeudado</th>
              <th class="col-md-2 total">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for document in supplier.documents %}
              <tr>
                <td class="issue-date" data-order="{{ document.issue_date.toordinal() }}">{{ document.issue_date|dateformat }}</td>
                <td class="number"><strong>{{ document.full_desc }}</strong></td>
                <td class="state">{{ document.status }}</td>
                <td class="expire-date" data-order="{{ document.expiration_date.toordinal() }}">{{ document.expiration_date|dateformat }}</td>
                <td class="balance" data-order="{{ document.balance }}">{% if document.doc_status in ('STATUS_PENDING', 'STATUS_EXPIRED') and document.balance %}{{ document.balance|moneyfmt(curr='$ ') }}{% else %}&mdash;{% endif %}</td>
                <td class="total" data-order="{{ document.total }}">{{ document.total|moneyfmt(curr='$ ') }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="orders">
        <table id="supplier-orders" class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Pedido</th>
              <th>Estado</th>
              <th>Método</th>
            </tr>
          </thead>
          <tbody>
            {% for order in supplier.orders %}
              <tr>
                <td>{{ order.open_date }}</td>
                <td>{{ order.full_desc }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.method }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="detail">
        <div class="row">
          {% with address = supplier.address|first %}
          {% if address %}
          <div class="col-md-6">
            <h4 class="dl-header">Dirección</h4>
            <dl class="dl-horizontal addresses">
              <dt>Calle</dt>
              <dd>{{ address.street }} {{ address.streetnumber|d('', true) }}</dd>
              <dt>Localidad</dt>
              <dd>{{ address.city|d('-', true) }}</dd>
              <dt>Código postal</dt>
              <dd>{{ address.zip_code|d('-', true) }}</dd>
              <dt>Provincia</dt>
              <dd>{{ address.province }}</dd>
            </dl>
          </div>
          {% endif %}
          {% endwith %}
          {% if supplier.fiscal_data %}
          <div class="col-md-6">
            <h4 class="dl-header">Datos Fiscales</h4>
            <dl class="dl-horizontal fiscal">
              <dt>CUIT</dt>
              <dd>{{ supplier.fiscal_data.cuit|cuitfmt }}</dd>
              <dt>IVA</dt>
              <dd>{{ supplier.fiscal_data.type|d('-', true) }}</dd>
              <dt>Ing. Brutos</dt>
              <dd>{{ supplier.fiscal_data.iibb|d('-', true) }}</dd>
            </dl>
          </div>
          {% endif %}
        </div>
        <div class="row">
          {% if supplier.phone %}
          <div class="col-md-6">
              <h4 class="dl-header">Teléfonos</h4>
              <dl class="dl-horizontal phone">
                {% for phone in supplier.phone %}
                  <dt>{{ phone.phone_type }}</dt>
                  <dd>{{ phone.number }}</dd>
                {% endfor %}
              </dl>
          </div>
          {% endif %}
          <div class="col-md-6">
            <h4 class="dl-header">Terminos Comerciales</h4>
            <dl class="dl-horizontal terms">
              <dt>Plazo de pago</dt>
              <dd>{{ supplier.payment_term|d('-', true) }}</dd>
              <dt>Tiempo de entrega</dt>
              <dd>{{ supplier.leap_time|d('-', true) }}</dd>
              <dt>Flete</dt>
              <dd>{% if not supplier.delivery_included %}No {% endif %}Incluido</dd>
            </dl>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="contacts">
        Contacts panel
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $(function() {
    var table = $('#supplier-invoices').DataTable({
      lengthChange: false,
      dom:
        "tr" +
        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
      language: {
        url: '/static/js/libs/dataTables.spanish.lang.json'
      },
      order: [[0 ,'desc']]
    });
  });
</script>
{% endblock %}
