{% extends "layout-drawer.html" %}

{% block page_content %}
  <div class="page-header">
    <h2>{{ supplier.rz }}{% if supplier.name %} <small>{{ supplier.name }}</small>{% endif %}</h2>
  </div>
  <div>
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active">
        <a href="#documents" role="tab" data-toggle="pill">Facturas</a>
      </li>
      <li role="presentation">
        <a href="#orders" role="tab" data-toggle="pill">Pedidos</a>
      </li>
      <li role="presentation">
        <a href="#detail" role="tab" data-toggle="pill">Datos</a>
      </li>
      <li role="presentation">
        <a href="#contacts" role="tab" data-toggle="pill">Contactos</a>
      </li>
    </ul>
    <!-- panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="documents">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-1 issue-date">Emisión</th>
              <th class="col-md-4 number">Documento</th>
              <th class="col-md-2 state">Estado</th>
              <th class="col-md-1 expire-date">Vencimiento</th>
              <th class="col-md-2 balance">Adeudado</th>
              <th class="col-md-2 total">Total</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td class="issue-date">25/11/2016</td>
                <td class="number">VFA 00026-0004563</td>
                <td class="state">Adeudada</td>
                <td class="expire-date">05/12/2016</td>
                <td class="balance">{{ 132457.26|moneyfmt(curr='$ ') }}</td>
                <td class="total">{{ 132457.26|moneyfmt(curr='$ ') }}</td>
              </tr>
            {% for document in supplier.documents %}
              <tr>
                <td class="issue-date">{{ document.issue_date }}</td>
                <td class="number">{{ document.number }}</td>
                <td class="state">{{ document._state }}</td>
                <td class="expire-date">{{ document.expire_date }}</td>
                <td class="balance">{{ document.balance|d('&mdash;', true) }}</td>
                <td class="total">{{ document.total }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="orders">
        Orders panel
      </div>
      <div role="tabpanel" class="tab-pane" id="detail">
        <div class="row">
          <div class="col-md-6">
            <h4 class="dl-header">Dirección</h4>
            <dl class="dl-horizontal addresses">
              <dt>Calle</dt>
              <dd>Maipú 489</dd>
              <dt>Localidad</dt>
              <dd>Ciudad de Mendoza</dd>
              <dt>Código postal</dt>
              <dd>5500</dd>
              <dt>Provincia</dt>
              <dd>Mendoza</dd>
            </dl>
          </div>
          <div class="col-md-6">
            <h4 class="dl-header">Datos Fiscales</h4>
            <dl class="dl-horizontal fiscal">
              <dt>CUIT</dt>
              <dd>30-71128142-4</dd>
              <dt>IVA</dt>
              <dd>Responsable Inscripto</dd>
              <dt>Ing. Brutos</dt>
              <dd>CM05-9654321</dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {% if supplier.phone %}
              <h4 class="dl-header">Teléfonos</h4>
              <dl class="dl-horizontal phone">
                {% for phone in supplier.phone %}
                  <dt>{{ phone.phone_type }}</dt>
                  <dd>{{ phone.number }}</dd>
                {% endfor %}
              </dl>
            {% endif %}
          </div>
          <div class="col-md-6">
            <h4 class="dl-header">Terminos Comerciales</h4>
            <dl class="dl-horizontal terms">
              <dt>Plazo de pago</dt>
              <dd>{{ supplier.payment_term|d('-', true) }}</dd>
              <dt>Tiempo de entrega</dt>
              <dd>{{ supplier.leap_time|d('-', true) }}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="contacts">
        Contacts panel
      </div>
    </div>
  </div>
{% endblock %}
