{% extends "layout-drawer.html" %}
{% from "formhelpers.html" import render_field, render_horizontal_field %}

{% block page_content %}
<div class="section-header">
  <h3>{% if form.id.data %}Editar{% else %}Nuevo{% endif %} Proveedor</h3>
</div>
<form id="edit-supplier" method="post" action="." class="form-horizontal">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-sm-9">
      {{ render_horizontal_field(form.rz, 9) }}
      {{ render_horizontal_field(form.name, 9) }}
    </div>
    <div class="col-sm-3">
      {{ render_horizontal_field(form.payment_term, 4) }}
      {{ render_horizontal_field(form.delivery_included, 4) }}
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <button type="submit" class="btn btn-default">Guardar</button>
    </div>
  </div>
</form>
{% endblock %}
