{% extends "layout.html" %}

{% block main %}
<h2>Suppliers</h2>

<div id="search-bar" class="clearfix">
  <div class="search-wrapper">
    <input id="supplier-search" class="autocomplete-input" type="text" name="q" placeholder="Buscar ..."/>
  </div>
</div>

<div id="main-list">
  <div class="list-wrapper clearfix">
    <table class="list-browser" cellspacing="0" cellpadding="0">
      {% for supplier in suppliers %}
      <tr class="">
        <td class="name">
          <a href="{{ url_for('.detail', supplier_id=supplier.id) }}">{{ supplier.fullname }}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock main %}
{# vim:ft=xhtml.jinja:sw=2
#}
