{% extends "layout-drawer.html" %}

{% block page_content %}
<div class="row section-header">
  <div class="col-md-8"><h3>Proveedores</h3></div>
  <div class="col-md-4"><input id="supplier-table-search" class="form-control" type="text" placeholder="buscar"></div>
</div>
<div class="suppliers-list">
  <table id="suppliers-list" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th class="col-md-6 name">Nombre</th>
        <th class="col-md-2 due-date">Vencimiento</th>
        <th class="col-md-2 amount">Vencido</th>
        <th class="col-md-2 balance">Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for supplier in suppliers %}
        <tr>
          <td class="name"><a href="{{ url_for('.detail', supplier_id=supplier.id) }}">{{ supplier.rz }}</a>{% if supplier.name %} <span class="silent">{{ supplier.name }}</span>{% endif %}</td>
          {% with e = supplier.expiration_date %}
          <td class="due-date" data-order="{{ e.toordinal() if e else 0 }}">
            {{ e|dateformat if e }}
          </td>
          {% endwith %}
          {% with e = supplier.expired %}
          <td class="amount" data-order="{{ e }}">
          {% if e %}{{ e|moneyfmt(curr='$ ') }}{% else %}&mdash;{% endif %}
          </td>
          {% endwith %}
          {% with d = suppiler.debt %}
          <td class="balance" data-order="{{ d }}">
          {% if d %}{{ d|moneyfmt(curr='$ ') }}{% else %}&mdash;{% endif %}
          </td>
          {% endwith %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block js %}
<script>
  $(function() {
    var table = $('#suppliers-list').DataTable({
      lengthChange: false,
      dom:
        "tr" +
        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
      language: {
        url: '/static/js/libs/dataTables.spanish.lang.json'
      }
    });
    var search = $('#supplier-table-search');
    search.bind('keyup search input paste cut', function() {
      var val = !this.value ? "" : this.value;
      if (val != $(this).data('previous-search')) {
        table.search(this.value).draw();
        $(this).data('previous-search', val);
      }
    }).bind('keypress', function(e) {
      if (e.keyCode == 13) {
        return false;
      }
    }).data('previous-search', "");
  });
</script>
{% endblock %}
