{% extends "layout.html" %}
{% from "macros.html" import render_field %}

{% block main %}
<div class="clearfix">
  <form id="product-supplier" method="post" action=".">
    {{ form.hidden_tag() }}
    <div class="fieldrow first">
      {{ render_field(form.product.code) }}
      {{ render_field(form.product.product_description) }}
    </div>
    <div class="fieldrow first">
      {{ render_field(form.psi.supplier_code) }}
      {{ render_field(form.psi.supplier_description) }}
      {{ render_field(form.psi.base_cost) }}
    </div>
    <div class="fieldrow last">
      {{ form_button('Guardar') }}
    </div>
  </form>
</div>
{% endblock %}

{# vim:ft=xhtml.jinja:sw=2
#}
