{% from "macros.html" import form_button, render_field %}

<div class="products-tab">
  <table class="list-browser" cellspacing="0" cellpadding="0">
    {% for product_info in products_info %}
    <tr>
      <td class="supplier-code">{{ product_info.code }}</td>
      <td class="supplier-description">{{ product_info.description }}</td>
      <td class="base-cost">{{ product_info.base_cost|moneyfmt }}</td>
    <tr>
    {% else %}
    <tr><td class="void-list"><em>No hay productos asociados.</em></td></tr>
    {% endfor %}
  </table>
</div>
<div class="inforow last clearfix">
  {{ form_button('+ Nuevo Producto', id='new-product') }}
</div>

<script type="text/javascript" charset="utf-8">
  var dialog = null;
  $('#new-product').click(function() {
    if (dialog) dialog.dialog('open');
    else {
      dialog = $('<div id="product-dialog"></div>')
      .hide()
      .load('{{ url_for('product.edit') }} #edit-product')
      .appendTo('body')
      .dialog();
    }
  });
</script>

{#
<div id="dialog-form">
  <form id="product-supplier" action="{{ url_for('supplier.product_new', supplier_id=supplier_id) }}" method="post">
    {{ form.hidden_tag() }}
    <div class="fieldrow first">
      {{ render_field(form.product.code) }}
      {{ render_field(form.product.product_description) }}
    </div>
    <div class="fieldrow first">
      {{ render_field(form.psi.supplier_code) }}
      {{ render_field(form.psi.supplier_description) }}
      {{ render_field(form.psi.base_cost) }}
    </div>
  </form>


  <script type="text/javascript" charset="utf-8">
    $('#dialog-form').dialog({
      /*autoOpen: false,*/
      height: 400,
      width: 550,
      modal: true,
      title: '<h2>Nuevo Producto</h2>',
      buttons: {
        "Create an account": function() { $(this).dialog("close"); },
        Close: function() { $(this).dialog("close"); },
      },
    });
    $('#new-product').click(function(e) {
      $('#dialog-form').dialog('open');
      e.preventDefault();
    });
  </script>
</div>
#}
{# vim:ft=xhtml.jinja:sw=2
#}
