{% from "macros.html" import render_field, form_button %}

<form id="edit-product-supplier" class="dialog-form" method="post" action="{{ url_for('product.for_supplier_edit', supplier_id=supplier.id) }}">
  <h2>{% if form.id.data %}Editar{% else %}Nuevo{% endif %} Producto/Proveedor</h2>

  {{ form.hidden_tag() }}
  <div class="fieldrow">
    {{ render_field(form.code, autofocus="autofocus") }}
    {{ render_field(form.description) }}
  </div>
  <div class="fieldrow">
    {{ render_field(form.base_cost) }}
  </div>
  <div class="fieldrow last">
    {{ form_button('Guardar') }}
  </div>
</form>

<script type="text/javascript" charset="utf-8">
  $('#code').focus();
</script>

{# vim:ft=xhtml.jinja:sw=2
#}
