{% macro render_field(field) %}
<div class="field {{ field.id }}">
  {% if field.label %}{{ field.label }}{% endif %}
  {{ field(**kwargs) }}
  {%- if field.description %}<p class="fieldinfo">{{ field.description }}</p>{% endif %}
</div>
{%- endmacro %}

{% macro render_horizontal_field(field, width=10) %}
<div class="form-group {{ field.id }}">
  {% if field.label %}{{ field.label(class="col-sm-" ~ (12 - width) ~ " control-label") }}{% endif %}
  <div class="col-sm-{{ width }}">
  {{ field(class="form-control") }}
  </div>
</div>
{% endmacro %}
