{% extends "base.html" %}

{% block header %}
<nav>
  {% if not request.url_rule.endpoint.endswith('.index') %}
  <a class="icon icon-home" href="{{ url_for('supplier.index') }}">Inicio</a>
  {% endif %}
  <ul>
    {% if g.user %}
    <li style="float: left;">{{ g.user.first_name }}{% if g.user.last_name %} {{ g.user.last_name }}{% endif %}</li>
    <li style="float: right; margin-left: 5px;"><a href="{{ url_for('account.logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ url_for('account.login', next=request.url) }}">Login</a></li> 
    {% endif %}
  </ul>
</nav>
{% endblock %}

{% block footer %}
{% for category, msg in get_flashed_messages(with_categories=True) %}
<p class="flash {{ category }}">{{ msg }}</p>
{% endfor %}
<div id="copy">
  <p>Copyright &copy; 2016 <a title="Autor" href="mailto:augusto@rioplomo.com.ar">Augusto Roccasalva</a>. Todos los derechos reservados.</p>
</div>
{% endblock %}
{# vim:ft=xhtml.jinja:sw=2
#}
