body {
  padding-top: 50px;
}

.navbar-nav {
  > li > a:hover {
    text-decoration: underline;
    &.nav-link {
      text-decoration: none;
    }
  }

  .user-identity .btn,
  .user-identity .dropdown-menu,
  .login-link {
    font-size: 13px;
  }
}

h2,
h3 {
  .btn {
    margin-left: 15px;
  }
}

.main {

  .section-header {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid $page-header-border-color;

    .form-control,
    .btn-control {
      margin-top: 16px;
    }
  }

  .table {
    .amount,
    .balance,
    .total {
      text-align: right;
    }
    .due-date,
    .expiration-date {
      text-align: center;
    }
  }

  .silent {
    color: $gray-light;
  }
}

