/* Sticky footer styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.nbx-footer,
.nbx-footer-inverse {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  padding-top: 9px;
  padding-bottom: 10px;
  margin-top: 50px;
  font-size: 13px;
  line-height: 20px;
  border-top: 1px solid transparent;

  p { margin-bottom: 0; }
}

.nbx-footer {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;
  color: $navbar-default-color;

  a {
    color: $navbar-default-link-color;

    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
  }
}

.nbx-footer-inverse {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;
  color: $navbar-inverse-color;

  a {
    color: $navbar-inverse-link-color;

    &:hover,
    &:focus {
      color: $navbar-inverse-link-hover-color;
    }
  }
}
